{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row justify-content-center">
        <form method="POST" action="{{ url_for('admin.update_category', id=c.id) }}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{c.name}}" required>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Update Category</button>
        </form>
    </div>
</div>
{% endblock %}
