{%extends 'base.html'%}

{%block content%}
    <div class="container mt-4 col-6">
        <h2>Update Product</h2>
        <form method="POST" action="{{ url_for('admin.update_product', id=product.id )}}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{product.name}}" required>
            </div>
            <div class="form-group">
                <label for="MFD">MFD:</label>
                <input type="date" class="form-control" id="MFD" name="MFD" value="{{product.MFD}}" required>
            </div>
            <div class="form-group">
                <label for="EXP">EXP:</label>
                <input type="date" class="form-control" id="EXP" name="EXP" value="{{product.EXP}}" required>
            </div>
            <div class="row">

                <div class="form-group col">
                    <label for="rate">Rate: </label>
                    <input type="text" class="form-control" id="rate" name="rate" value="{{product.rate}}" required>
                </div>
                <div class="form-group col">
                    <label for="unit">Unit:</label>
                    <select class="form-control" id="unit" name="unit" required>
                        <option value="" disabled selected>Select a unit</option>
                        {% for u in units %}
                            <option value="{{ product.unit }}">{{ u }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required>{{product.description}}</textarea>
            </div>
            
            
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" value="{{product.quantity}}" required>
            </div>
            <div class="form-group">
                <label for="category_id">Category:</label>
                <select class="form-control" id="category_id" name="category_id" required>
                    <option value="" disabled>Select a category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == product.category_id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" style="margin-top: 30px;" id="image" name="image" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Update Product</button>
        </form>
    </div>
{%endblock%}
