{%extends 'base.html'%}

{%block content%}
<div class="card mb-5 m-5">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center m-5">
        <h1>{{cats.name}}</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {% for p in products %}
            <div class="col mb-3">
                <div class="card h-100 mt-3">
                    <img src="/static/product_img/{{p.image}}" class="card-img-top" alt="{{p.name}}">
                    <div class="card-body shadow">
                        <ul class="list-group">
                            <li class="list-group-item">{{ p.name }}</li>
                            <li class="list-group-item">Price: {{p.rate}}</li>
                        </ul>
                        <div class="card-footer">
                            <a href="{{url_for('detail', product_id=p.id)}}" class="card-link">Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}