{% extends 'base.html' %}

{% block content%}
    <div class="container text-center">
        <div class="row justify-content-center">
            
            <div class="col-3"></div>
            <div class="col-3">
                <h1> Login </h1>
                <form method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">username</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="username" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                        <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="password" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-3"></div>
        </div>

    </div>

{% endblock %}
